html {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
}
div {
    font-family: "Courier New", "Courier", "serif";
    font-weight: bold;
    font-size: 25px;
}
.maincontain {
    height: 100%;
    position: fixed;
    background-image: url(../images/bg-default.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #464646;
    overflow: auto;
    height: 95vh;
}
.bud-image {
    width: 12vw;
    height: 16vw;
}
.big-image {
    width: 21vw;
    height: 29vw;
}
.bud-button {
    width: 20vw;
    height: 20vw;
    background-color: rgba(46, 46, 163, 0.33);
}
.enemy-button {
    width: 20vw;
    height: 20vw;
    background-color: rgba(163, 46, 95, 0.33);
}
.chosen-bud {
    margin-left: 0px;
    background-color: transparent;
    font-weight: bold;
    border: none;
}
.opponent {
    margin-left: 0px;
    background-color: transparent;
    font-weight: bold;
    border: none;
}
.dead-bud {
    width: auto;
    height: auto;
    background-color: rgba(59, 60, 66, 0.33);
} 
.bud-button, .enemy-button, .chosen-bud, .opponent, .dead-bud {
    justify-content: center;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 5vh;
    background-color: #70776b;
}
#graveyard, #arena, #budbank, #enemybuds {
    border: 1px solid rgba(46, 46, 163, 0.33);
}
.top-three, .label, #attack, #top-message {
    background-color: rgba(112, 163, 46, 0.33);
    border: 1px solid rgba(46, 46, 163, 0.33);
}
#bud, #oppoonent {
    padding: 0;
}
#budbank, #enemybuds {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    height: 80vh;
    max-height: 120vh;
}
#footer {
    font-size: 12px;
    font-weight: normal;
    color: white;
    background-color: #70776b;
}